<div class="cd-popup" id="modal_input2" role="alert">
    <div class="cd-popup-container">
      <p id="modal_input2_text">Изменение комнаты: </p>
        <div class="container" style="margin-top: -25%;">
        <div class="form-group">
          <label for="input2_1" id="label2_1" style="float: left; font-weight: bold;">Имя</label>
          <input id="input2_1" style="background-color: #262626;" type="text" placeholder="INPUT" class="form-control input-md" required>
          <label for="input2_2" id="label2_2" style="float: left; font-weight: bold;">Имя</label>
          <input id="input2_2" style="background-color: #262626;" type="text" placeholder="INPUT" class="form-control input-md" required>
        </div>
      </div>
      <ul class="cd-buttons">
        <li><a id="modal_input2_ok">Удалить</a></li>
        <li><a id="modal_input2_cancel">Отмена</a></li>
      </ul>
      <a id="modal_input2_close" class="cd-popup-close img-replace">Закрыть</a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->