html, body, header, footer {
    padding: 0;
    margin: 0;
    background-color: rgb(3, 3, 3);
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: #FFFFF0;
    overflow: hidden;
}

main, .mainer {
    background-color: rgb(17, 18, 19);
    height: 90vh;
    overflow: hidden;
    padding: 10px;
}

footer {
    font-size: 16px;
    font-family: 'Patrick Hand SC', cursive;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 18px;
}

.blocks {
    background-color: rgb(12, 12, 12);
    height: 82vh;
    margin: 10px;
    overflow: auto;
    font-family: 'Noto Sans TC', sans-serif;
}

.buttons_menu {
    align-items: center;
    margin: 20px;
    cursor: pointer;
    color: #FFFFF0;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    transition: 0.7s;
    flex-direction: column;
    height: 14%;
}

.buttons_menu:hover {
    background-color: rgb(19, 17, 19);
    color: gray;
    transition: 0.7s;
}

.buttons_menu img {
    width: 50%;
    height: 50%;
}

@media all and (max-width: 1280px){
    .buttons_menu {
        font-size: 0;
    }
    .buttons_menu img{
        width: 80%;
        height: 80%;
    }
}

.components {
    background-color: rgb(3, 3, 3);
    width: 99%;
    min-height: 6vh;
    color: #fffee2;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

.components img{
    padding: 7px;
}

.params {
    text-align: center;
    font-size: 22px;
}
#menu{
    z-index: 2;
    position: absolute;
    float: right;
    width: 10%;
}
@media (max-width: 768px){
    #menu {
        width: 50%;
    }
    #timedisplay{
        display: none;
    }
    #city-header{
        display: none;
    }
}
#menu_close{
    position: relative;
    top: 30px;
    right: 30px;
    display: none;
    width: 32px;
    height: 32px;
}
#city-header{
    padding: 21px;
    position: relative;
    top: 1px;
    color: #acac9f;
    display: flex;
}