html, body, header, footer {
    padding: 0;
    margin: 0;
    background-color: rgb(3, 3, 3);
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: #FFFFF0;
    overflow: hidden;
    user-select: none;
}

main, .mainer {
    background-color: rgb(17, 18, 19);
    height: 90vh;
    overflow: hidden;
    padding: 10px;
}

footer {
    font-size: 16px;
    font-family: 'Patrick Hand SC', cursive;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 18px;
}

.blocks {
    background-color: rgb(12, 12, 12);
    height: 82vh;
    margin: 10px;
    overflow: auto;
    font-family: 'Noto Sans TC', sans-serif;
}

.buttons_menu {
    align-items: center;
    margin: 20px;
    cursor: pointer;
    color: #FFFFF0;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 14%;
}

.buttons_menu:hover {
    background-color: rgb(19, 17, 19);
    color: gray;
    transition: 0.5s;
}

.buttons_menu img {
    width: 50%;
    height: 50%;
}

@media all and (max-width: 1280px){
    .buttons_menu {
        font-size: 0;
    }
    .buttons_menu img{
        width: 80%;
        height: 80%;
    }
}

.components {
    background-color: rgb(3, 3, 3);
    width: 99%;
    min-height: 6vh;
    color: #fffee2;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

.components img{
    padding: 7px;
}

.params {
    text-align: center;
    font-size: 18px;
}

.ctrl_on {
    color: rgba(180,255,166,0.73) !important;
}

.ctrl_off {
    color: rgba(255,154,149,0.73) !important;
}

.ctrl_on, .ctrl_off {
    cursor: pointer;
}

.ctrl_on:hover {
    color: rgb(180, 255, 166) !important;
}

.ctrl_off:hover {
    color: rgba(255, 154, 149) !important;
}

.text-info-panel {
    font-size: 21px;
    right: 40px;
    position: relative;
    font-family: 'EB Garamond', serif;
}

.text-info-panel a{
    color: rgba(66, 128, 67, 0.8) !important;
}

.air-state-content {
    padding: 10px;
    margin: 10px;
    background-color: rgba(132, 132, 124, 0.3);
    height: 250px;
    width: 100%;
    border-radius: 4%;
}

.number-panel {
    font-family: 'Maven Pro', sans-serif;
    font-size: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.number-panel .symbols {
    font-size: 40px;
    color: rgba(132, 132, 124, 0.46) !important;
}