{% load static %}

{% for room in rooms %}
    {% for lamp in lamps %}
        {% if lamp.room.id == room.id %}
            <div class="components">
                <div style="display: flex; justify-content: space-between;">
                    <div><img src="{% static 'images/control_panel/lamp2.svg' %}" alt="clock" width="60px"
                              height="60px">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <div class="params"><span style="font-weight: bold;">{{ room.name }}</span>: {{ lamp.name }}</div>
                    </div>
                    <div style="cursor: pointer;"><a onclick="modal_input_1_fields_setup('Изменение комнаты {{ room.name }}', 'edit_room({{ room.id }})', '{{ room.name }}', 'Название', 'Сохранить', 'Отмена',)" class="modal_input1_open"><img src="{% static 'images/control_panel/more.svg' %}" alt="menu" width="45px" height="45px"></a>
                    </div>
                </div>
                {% comment %}Next level{% endcomment %}
                <div style="display: flex; justify-content: space-around; font-weight: 100; color: rgba(214,214,202,0.93);">
                    <div style="color: rgba(150,150,141,0.82);">Статус: <a id="status_{{ lamp.id }}" style="color: #FFFFF0; cursor: not-allowed;">{% if lamp.switched %}ВКЛ{% else %}ВЫКЛ{% endif %}</a></div>
                    <div style="cursor: pointer;"><a style="color: rgba(180,255,166,0.73); display: {% if not lamp.switched %}inline{% else %}none{% endif %};" id="statuson_{{ lamp.id }}" onclick="send_room_light(1, {{ lamp.id }})">Включить</a><a style="color: rgba(255,154,149,0.73); display: {% if lamp.switched %}inline{% else %}none{% endif %};" id="statusoff_{{ lamp.id }}" onclick="send_room_light(0, {{ lamp.id }})">Выключить</a></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}