{% load static %}
<div class="row" style="position: relative;">
    <div class="col" style="display: flex; margin: 20px; position: relative; top: 6px;">
        <img src="{% static 'images/control_panel/clock-circular-outline.svg' %}" alt="clock" width="32px"
             height="32px">
        &nbsp;&nbsp;
        <div id="timedisplay" style="bottom: 6px; position: relative;">Err:5xx</div>
    </div>
    <div class="col-5" style="padding: 21px; position: relative; top: 1px; color: #acac9f; display: flex;">
        <img src="{% static 'images/control_panel/building.svg' %}" alt="building" width="36px"
             height="36px" style="position: relative; top: 4px;">
        <span title="На улице">&nbsp;Москва: <a style="color: #FFFFF0;">Коворкинг в центре</a>    16°C / 9°C</span>
    </div>
    <div class="col" style="position: relative; display: flex; flex-direction: row-reverse;"><img
            src="{% static 'images/control_panel/menu.svg' %}" width="32px" height="32px" alt="menu"
            style="position: relative; top: 30px; right: 30px;"></div>
</div>