{% load static %}
<div class="buttons_menu">
    <img src="{% static 'images/control_panel/control-panel.svg' %}" alt="Панель">
    Панель
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/motion-sensor.svg' %}" alt="Климат">
    Климат
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/lamp.svg' %}" alt="Освещение">
    Освещение
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/cloud-with-sun-and-a-raindrop.svg' %}" alt="Погода">
    Погода
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/lock.svg' %}" alt="Замки">
    Замки
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/cctv.svg' %}" alt="Камеры">
    Камеры
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/smoke-detector.svg' %}" alt="Сенсоры">
    Сенсоры
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/plug.svg' %}" alt="Розетки">
    Розетки
</div>

<div class="buttons_menu">
    <img src="{% static 'images/control_panel/tool.svg' %}" alt="Настройки">
    Настройки
</div>